@{
    ViewBag.Title = "AdminAnasayfa";
    Layout = "~/Views/Shared/_AdminAnasayfaLayout.cshtml";
}
<!DOCTYPE html>

<html lang="tr">
    <head>
       <title>
           Anasayfa
       </title>
    </head>
    <body>
       
    </body>
</html>

