@{
    ViewBag.Title = "AdvertConfirm";
    Layout = "~/Views/Shared/_AdminAnasayfaLayout.cshtml";
}

<!DOCTYPE html>
<html lang="en-US">

<!-- Mirrored from wpestatetheme.org/properties/offices-in-southwark/ by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 07 Jan 2016 07:14:59 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<!-- /Added by HTTrack -->
<head>
   @section Head{
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <title>Offices in Southwark | WP Estate | Responsive Real Estate Theme</title>

  

    <link rel="shortcut icon" href="~/Content/EmlakPages/wpestatetheme.org/wp-content/uploads/2013/06/16.png" type="image/x-icon" />
    <link rel="alternate" type="application/rss+xml" title="WP Estate | Responsive Real Estate Theme &raquo; Feed" href="~/Content/EmlakPages/wpestatetheme.org/feed/index.html" />
    <link rel="alternate" type="application/rss+xml" title="WP Estate | Responsive Real Estate Theme &raquo; Comments Feed" href="~/Content/EmlakPages/wpestatetheme.org/comments/feed/index.html" />
    <link rel="alternate" type="application/rss+xml" title="WP Estate | Responsive Real Estate Theme &raquo; Offices in Southwark Comments Feed" href="feed/index.html" />
    <script type="text/javascript">
        window._wpemojiSettings = { "baseUrl": "http:\/\/s.w.org\/images\/core\/emoji\/72x72\/", "ext": ".png", "source": { "concatemoji": "http:\/\/wpestatetheme.org\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.3.2" } };
        !function (a, b, c) { function d(a) { var c = b.createElement("canvas"), d = c.getContext && c.getContext("2d"); return d && d.fillText ? (d.textBaseline = "top", d.font = "600 32px Arial", "flag" === a ? (d.fillText(String.fromCharCode(55356, 56812, 55356, 56807), 0, 0), c.toDataURL().length > 3e3) : (d.fillText(String.fromCharCode(55357, 56835), 0, 0), 0 !== d.getImageData(16, 16, 1, 1).data[0])) : !1 } function e(a) { var c = b.createElement("script"); c.src = a, c.type = "text/javascript", b.getElementsByTagName("head")[0].appendChild(c) } var f, g; c.supports = { simple: d("simple"), flag: d("flag") }, c.DOMReady = !1, c.readyCallback = function () { c.DOMReady = !0 }, c.supports.simple && c.supports.flag || (g = function () { c.readyCallback() }, b.addEventListener ? (b.addEventListener("DOMContentLoaded", g, !1), a.addEventListener("load", g, !1)) : (a.attachEvent("onload", g), b.attachEvent("onreadystatechange", function () { "complete" === b.readyState && c.readyCallback() })), f = c.source || {}, f.concatemoji ? e(f.concatemoji) : f.wpemoji && f.twemoji && (e(f.twemoji), e(f.wpemoji))) }(window, document, window._wpemojiSettings);
		</script>
    <style type="text/css">
        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
    <link rel='stylesheet' id='dsidx-css' href='http://cdn3.diverse-cdn.com/api/combo-css/config=dsidxpress.css/43e53d' type='text/css' media='all' />
    <link rel='stylesheet' id='dsidxpress-icons-css' href='~/Content/EmlakPages/wpestatetheme.org/wp-content/plugins/dsidxpress/css/dsidx-icons274c.css?ver=4.3.2' type='text/css' media='all' />
    <link rel='stylesheet' id='dsidxpress-unconditional-css' href='~/Content/EmlakPages/wpestatetheme.org/wp-content/plugins/dsidxpress/css/client274c.css?ver=4.3.2' type='text/css' media='all' />
    <link rel='stylesheet' id='dsidxwidgets-unconditional-css' href='~/Content/EmlakPages/wpestatetheme.org/wp-content/plugins/dsidxpress/dsidxwidgets/css/client274c.css?ver=4.3.2' type='text/css' media='all' />
    <link rel='stylesheet' id='rs-plugin-settings-css' href='~/Content/EmlakPages/wpestatetheme.org/wp-content/plugins/revslider/public/assets/css/settings58aa.css?ver=5.0.7' type='text/css' media='all' />
    <style id='rs-plugin-settings-inline-css' type='text/css'>
        #rs-demo-id {
        }
    </style>
    <link rel='stylesheet' id='wpestate_style-css' href='~/Content/EmlakPages/wpestatetheme.org/wp-content/themes/wpestate/style5152.css?ver=1.0' type='text/css' media='all' />
    <link rel='stylesheet' id='wpestate_media-css' href='~/Content/EmlakPages/wpestatetheme.org/wp-content/themes/wpestate/css/my_media5152.css?ver=1.0' type='text/css' media='all' />
    <link rel='stylesheet' id='jquery.ui.theme-css' href='~/Content/EmlakPages/wpestatetheme.org/wp-content/themes/wpestate/css/jquery-ui.min274c.css?ver=4.3.2' type='text/css' media='all' />
    <link rel='stylesheet' id='wpestate-roboto-css' href='http://fonts.googleapis.com/css?family=Roboto%3A400%2C500%2C300&amp;subset=latin%2Clatin-ext&amp;ver=4.3.2' type='text/css' media='all' />
    <link rel='stylesheet' id='font-awesome.min-css' href='~/Content/EmlakPages/wpestatetheme.org/wp-content/themes/wpestate/css/fontawesome/css/font-awesome.min274c.css?ver=4.3.2' type='text/css' media='all' />
    <script type='text/javascript' src='~/Content/EmlakPages/wpestatetheme.org/wp-includes/js/jquery/jqueryc1d8.js?ver=1.11.3'></script>
    <script type='text/javascript' src='~/Content/EmlakPages/wpestatetheme.org/wp-includes/js/jquery/jquery-migrate.min1576.js?ver=1.2.1'></script>
    <script type='text/javascript' src='http://cdn3.diverse-cdn.com/api/combo-js/config=dsidxpress.js/4fc9f4?ver=2.1.25'></script>
    <script type='text/javascript' src='~/Content/EmlakPages/wpestatetheme.org/wp-content/plugins/revslider/public/assets/js/jquery.themepunch.tools.min58aa.js?ver=5.0.7'></script>
    <script type='text/javascript' src='~/Content/EmlakPages/wpestatetheme.org/wp-content/plugins/revslider/public/assets/js/jquery.themepunch.revolution.min58aa.js?ver=5.0.7'></script>
    <script type='text/javascript' src='~/Content/EmlakPages/wpestatetheme.org/wp-content/themes/wpestate/js/modernizr.custom.624565152.js?ver=1.0'></script>
    <script type='text/javascript' src='http://maps.googleapis.com/maps/api/js?sensor=true&amp;key=AIzaSyAnht2vS1oNOrXArwI0KziXfB5bT37Mh6s&amp;ver=1.0'></script>
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="~/Content/EmlakPages/wpestatetheme.org/xmlrpc0db0.php?rsd" />
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="~/Content/EmlakPages/wpestatetheme.org/wp-includes/wlwmanifest.xml" />
    <link rel='prev' title='Steel Factory in New York' href='../steel-factory-in-new-york/index.html' />
    <link rel='next' title='Family House In Hudson' href='../special-offer-brooklyn-ny/index.html' />
    <meta name="generator" content="WordPress 4.3.2" />
    <link rel='canonical' href='index.html' />
    <link rel='shortlink' href='~/Content/EmlakPages/wpestatetheme.org/index8a71.html?p=237' />
    <style type='text/css'>
        .ribbon-wrapper-under-offer {
            background-color: #c0392b;
        }

        .under-offer {
            padding-top: 10px;
        }

        .ribbon-wrapper-open-home {
            background-color: #2c3e50;
        }

        .open-home {
            padding-top: 10px;
        }

        .ribbon-wrapper-hot-offer {
            background-color: #e74c3c;
        }

        .hot-offer {
            padding-top: 10px;
        }

        .ribbon-wrapper-new-offer {
            background-color: #2c3e50;
        }

        .new-offer {
            padding-top: 10px;
        }

        .top-user-menu-wrapper {
            background: #f5f5f5;
            color: #1a171b;
        }

            .top-user-menu-wrapper a {
                color: #1a171b;
            }

        .dsidx-standalone-disclaimer {
            display: none;
        }

        ul.dsidx-list.dsidx-panel li {
            border-top: 0px dotted #ededed;
        }

        .pack_description_unit {
            padding: 15px 0px 15px 15px;
        }

        #property_address {
            height: 98px;
        }

        img[class*="align"], img[class*="wp-image-"], #content .gallery .gallery-icon img {
            border: 0px solid #ddd;
        }

        input[type=password] {
            text-transform: none!important;
        }

    </style>
    <meta name="generator" content="Powered by Slider Revolution 5.0.7 - responsive, Mobile-Friendly Slider Plugin for WordPress with comfortable drag and drop interface." />
    <script type="text/javascript">
        if (typeof localdsidx == "undefined" || !localdsidx) { var localdsidx = {}; };
        localdsidx.pluginUrl = "~/Content/EmlakPages/wpestatetheme.org/wp-content/plugins/dsidxpress/index.html";
        localdsidx.homeUrl = "~/Content/EmlakPages/wpestatetheme.org/index.html";
    </script>
    <script type="text/javascript">
        if (typeof localdsidx == "undefined" || !localdsidx) { var localdsidx = {}; };
        localdsidx.pluginUrl = "~/Content/EmlakPages/wpestatetheme.org/wp-content/plugins/dsidxpress/index.html";
        localdsidx.homeUrl = "~/Content/EmlakPages/wpestatetheme.org/index.html";
    </script>
        <script type='text/javascript' src='~/Content/EmlakPages/wpestatetheme.org/wp-includes/js/jquery/ui/core.mine899.js?ver=1.11.4'></script>
    <script type='text/javascript' src='~/Content/EmlakPages/wpestatetheme.org/wp-includes/js/jquery/ui/widget.mine899.js?ver=1.11.4'></script>
    <script type='text/javascript' src='~/Content/EmlakPages/wpestatetheme.org/wp-includes/js/jquery/ui/mouse.mine899.js?ver=1.11.4'></script>
    <script type='text/javascript' src='~/Content/EmlakPages/wpestatetheme.org/wp-includes/js/jquery/ui/draggable.mine899.js?ver=1.11.4'></script>
    <script type='text/javascript' src='~/Content/EmlakPages/wpestatetheme.org/wp-content/themes/wpestate/js/jquery.dropdown5152.js?ver=1.0'></script>
    <script type='text/javascript' src='~/Content/EmlakPages/wpestatetheme.org/wp-content/themes/wpestate/js/gumby.min5152.js?ver=1.0'></script>
    <script type='text/javascript' src='~/Content/EmlakPages/wpestatetheme.org/wp-content/themes/wpestate/js/jquery.fitvids5152.js?ver=1.0'></script>
    <script type='text/javascript' src='~/Content/EmlakPages/wpestatetheme.org/wp-includes/js/mediaelement/froogaloop.mind5f7.js?ver=2.0'></script>
    <script type='text/javascript' src='~/Content/EmlakPages/wpestatetheme.org/wp-content/themes/wpestate/js/jquery.elastislide5152.js?ver=1.0'></script>
    <script type='text/javascript' src='~/Content/EmlakPages/wpestatetheme.org/wp-content/themes/wpestate/js/jquery.flexslider5152.js?ver=1.0'></script>
    <script type='text/javascript' src='~/Content/EmlakPages/wpestatetheme.org/wp-content/themes/wpestate/js/jquery.prettyphoto5152.js?ver=1.0'></script>
    <script type='text/javascript' src='~/Content/EmlakPages/wpestatetheme.org/wp-content/themes/wpestate/js/jquery.imagesloaded5152.js?ver=1.0'></script>
    <script type='text/javascript' src='~/Content/EmlakPages/wpestatetheme.org/wp-includes/js/jquery/ui/datepicker.mine899.js?ver=1.11.4'></script>
    <script type='text/javascript' src='~/Content/EmlakPages/wpestatetheme.org/wp-includes/js/jquery/ui/position.mine899.js?ver=1.11.4'></script>
    <script type='text/javascript' src='~/Content/EmlakPages/wpestatetheme.org/wp-includes/js/jquery/ui/menu.mine899.js?ver=1.11.4'></script>
    <script type='text/javascript' src='~/Content/EmlakPages/wpestatetheme.org/wp-includes/js/jquery/ui/autocomplete.mine899.js?ver=1.11.4'></script>
    <script type='text/javascript' src='~/Content/EmlakPages/wpestatetheme.org/wp-content/themes/wpestate/js/infobox5152.js?ver=1.0'></script>
    
    <script type='text/javascript' src='~/Content/EmlakPages/wpestatetheme.org/wp-content/themes/wpestate/js/google_js/google_map_code_prop5152.js?ver=1.0'></script>
    
    <script type='text/javascript' src='~/Content/EmlakPages/wpestatetheme.org/wp-content/themes/wpestate/js/google_js/mapfunctions5152.js?ver=1.0'></script>
    <script type='text/javascript' src='~/Content/EmlakPages/wpestatetheme.org/wp-content/themes/wpestate/js/google_js/markerclusterer5152.js?ver=1.0'></script>
    
    <script type='text/javascript' src='~/Content/EmlakPages/wpestatetheme.org/wp-content/themes/wpestate/js/control5152.js?ver=1.0'></script>
    <script type='text/javascript' src='~/Content/EmlakPages/wpestatetheme.org/wp-includes/js/comment-reply.min274c.js?ver=4.3.2'></script>
    <script type='text/javascript' src='~/Content/EmlakPages/wpestatetheme.org/wp-content/themes/wpestate/js/property5152.js?ver=1.0'></script>
    <script type='text/javascript' src='~/Content/EmlakPages/wpestatetheme.org/wp-content/themes/wpestate/js/google_js/idx5152.js?ver=1.0'></script>
    <script type='text/javascript' src='~/Content/EmlakPages/wpestatetheme.org/wp-content/plugins/dsidxpress/js/autocomplete36fb.js?ver=2.1.25'></script>

    <script>
        //<![CDATA[
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '~/Content/EmlakPages/wpestatetheme.org/../www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-41924406-1', 'wpestatetheme.org');
        ga('send', 'pageview');
        //]]>
</script>


       }
</head>


<body class="single single-estate_property postid-237">
    <div>

        <div id="wrapper" class="">
            <div class="whiteonleft"></div>

            <div id="breadcrumbs_wrapper" class=" "></div>
            <div id="main" class="row right">

                <div class="breadcrumbs-internal ">
                    <a href="~/Content/EmlakPages/wpestatetheme.org/index.html">Home</a><span class="bread_arrows">&raquo;</span><a href="~/Content/EmlakPages/wpestatetheme.org/property_category/offices/index.html" rel="tag">Offices</a><span class="bread_arrows">&raquo;</span><span class="bread_selected">Offices in Southwark</span>
                </div>


                <!-- begin content-->
                <div id="post" class="listingborder nine columns alpha shadowonleft">
                    <div class="inside_post inside_no_border">


                        <div class="anchor-bord">
                            <ul>
                                <li><a href="#prop_des">Description</a>
                                </li>

                                <li><a href="#prop_det">Details</a>
                                </li>

                                <li><a href="#prop_ame">Features</a>
                                </li>

                                <li><a href="#prop_inq">Enquires</a>
                                </li>

                                <li><a href="#comment">Similar Listings</a>
                                </li>
                            </ul>
                        </div>
                        
                        <div class="blankpin rentalspin"></div>



                        <!-- start  sixprop content container-->
                        <div class="sixprop propcol">
                            <h1 class="entry-title-prop">Offices in Southwark</h1>
                            <div class="under-title">
                                USD 15,000                                                    
                            </div>

                            <div class="under-title-addres" id="prop_des">
                                Great Dover St 2, <a href="~/Content/EmlakPages/wpestatetheme.org/property_city/london/index.html" rel="tag">London</a>
                            </div>


                            <div class="mobilenav">
                                <span class="prev_prop"><a href="../steel-factory-in-new-york/index.html" rel="prev"></a></span>
                                <span class="next_prop"><a href="../special-offer-brooklyn-ny/index.html" rel="next"></a></span>
                            </div>




                            <div class="property_description">
                                <h4>Property Description</h4>
                                <p>Former high end beach home converted to Class “A” office space. 2519 sq ft complete with three and 1/2 baths. Large eat in kitchen/conference area. Many storage areas and closets. Currently used as 10 offices with large reception area. Fully wired with Cat 5 wiring to all, phone room. Exterior storage and parking spaces for 12 cars. Huge frontage on 30-A and award winning landscaping. Great opportunity to have a landmark location on Scenic 30-A with over 200′ of 30-A frontage.</p>
                            </div>
                            <hr class="dottedline">
                            <h4 id="prop_det">Property Details                        </h4>
                            <div class="prop_details">
                                <ul>
                                    <li><span class="title_feature_listing">Price: </span>USD 15,000 </li>
                                    <li><span class="title_feature_listing">Address: </span>Great Dover St 2</li>
                                    <li><span class="title_feature_listing">City: </span><a href="~/Content/EmlakPages/wpestatetheme.org/property_city/london/index.html" rel="tag">London</a></li>
                                    <li><span class="title_feature_listing">Area: </span><a href="~/Content/EmlakPages/wpestatetheme.org/property_area/southwark/index.html" rel="tag">Southwark</a></li>
                                    <li><span class="title_feature_listing">County: </span>London</li>
                                    <li><span class="title_feature_listing">State: </span>London</li>
                                    <li><span class="title_feature_listing">Zip: </span>566844</li>
                                    <li><span class="title_feature_listing">Country: </span>United Kingdom</li>
                                </ul>
                            </div>



                            <div class="prop_details">
                                <ul>

                                    <li><span class="title_feature_listing">Property Size: </span>150 square feet</li>
                                    <li><span class="title_feature_listing">Property Lot Size: </span>700 square feet</li>
                                    <li><span class="title_feature_listing">Rooms: </span>10</li>
                                    <li><span class="title_feature_listing">Bathrooms: </span>2</li>
                                </ul>
                            </div>

                            <!--Custom Properties -->
                            <div class="prop_details_custom">
                                <p><span class="title_feature_listing">Year Built: </span>2005</p>
                                <p><span class="title_feature_listing">Garages: </span>300</p>
                                <p><span class="title_feature_listing">Basement: </span>yes</p>
                                <p><span class="title_feature_listing">External Construction: </span>300 parking spaces</p>
                                <p><span class="title_feature_listing">Roofing: </span>new</p>
                                <p><span class="title_feature_listing">Available From: </span>2013-05-28</p>
                            </div>


                            <h4 id="prop_ame">Property Features                        </h4>

                            <div class="features_listing_div">
                                <img src="~/Content/EmlakPages/wpestatetheme.org/wp-content/themes/wpestate/images/yes_prop.png" alt="yes" />attic</div>
                            <div class="features_listing_div">
                                <img src="~/Content/EmlakPages/wpestatetheme.org/wp-content/themes/wpestate/images/yes_prop.png" alt="yes" />gas heat</div>
                            <div class="features_listing_div">
                                <img src="~/Content/EmlakPages/wpestatetheme.org/wp-content/themes/wpestate/images/yes_prop.png" alt="yes" />ocean view</div>
                            <div class="features_listing_div">
                                <img src="~/Content/EmlakPages/wpestatetheme.org/wp-content/themes/wpestate/images/yes_prop.png" alt="yes" />wine cellar</div>
                            <div class="features_listing_div">
                                <img src="~/Content/EmlakPages/wpestatetheme.org/wp-content/themes/wpestate/images/yes_prop.png" alt="yes" />basketball court</div>
                            <div class="features_listing_div">
                                <img src="~/Content/EmlakPages/wpestatetheme.org/wp-content/themes/wpestate/images/yes_prop.png" alt="yes" />gym</div>
                            <div class="features_listing_div">
                                <img src="~/Content/EmlakPages/wpestatetheme.org/wp-content/themes/wpestate/images/yes_prop.png" alt="yes" />pound</div>
                            <div class="features_listing_div">
                                <img src="~/Content/EmlakPages/wpestatetheme.org/wp-content/themes/wpestate/images/yes_prop.png" alt="yes" />fireplace</div>
                            <div class="features_listing_div">
                                <img src="~/Content/EmlakPages/wpestatetheme.org/wp-content/themes/wpestate/images/yes_prop.png" alt="yes" />lake view</div>
                            <div class="features_listing_div">
                                <img src="~/Content/EmlakPages/wpestatetheme.org/wp-content/themes/wpestate/images/yes_prop.png" alt="yes" />pool</div>
                            <div class="features_listing_div">
                                <img src="~/Content/EmlakPages/wpestatetheme.org/wp-content/themes/wpestate/images/yes_prop.png" alt="yes" />back yard</div>
                            <div class="features_listing_div">
                                <img src="~/Content/EmlakPages/wpestatetheme.org/wp-content/themes/wpestate/images/yes_prop.png" alt="yes" />front yard</div>
                            <div class="features_listing_div">
                                <img src="~/Content/EmlakPages/wpestatetheme.org/wp-content/themes/wpestate/images/yes_prop.png" alt="yes" />fenced yard</div>
                            <div class="features_listing_div">
                                <img src="~/Content/EmlakPages/wpestatetheme.org/wp-content/themes/wpestate/images/yes_prop.png" alt="yes" />sprinklers</div>
                            <div class="features_listing_div">
                                <img src="~/Content/EmlakPages/wpestatetheme.org/wp-content/themes/wpestate/images/yes_prop.png" alt="yes" />washer and dryer</div>
                            <div class="features_listing_div">
                                <img src="~/Content/EmlakPages/wpestatetheme.org/wp-content/themes/wpestate/images/yes_prop.png" alt="yes" />deck</div>
                            <div class="features_listing_div">
                                <img src="~/Content/EmlakPages/wpestatetheme.org/wp-content/themes/wpestate/images/yes_prop.png" alt="yes" />balcony</div>
                            <div class="features_listing_div">
                                <img src="~/Content/EmlakPages/wpestatetheme.org/wp-content/themes/wpestate/images/yes_prop.png" alt="yes" />laundry</div>

                            <div class="properties_agent_notes">
                                <h4>Agent Notes</h4>
                                All expenses except phone and internet are included. Large open space with vaulted ceilings and tall windows. Also includes: 1 small office, a very convenient break room, and supplies room.
                            </div>
                           
                            

                            <span id="menu_stopper"></span>


                        </div>
                        <!-- end sixprop content container-->


                     
                        <!-- end fixed sidebar-->



                    </div>
                    <!-- end inside-->
                </div>
                <!-- end content-->

            </div>
            <!-- #main -->
        </div>
       
    </div>
    <!-- #page -->
  

</body>

<!-- Mirrored from wpestatetheme.org/properties/offices-in-southwark/ by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 07 Jan 2016 07:15:53 GMT -->
</html>
<!-- need to refresh to see cached version -->
